
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, ;
}

.body-projects {
  background-color: #f0f2f5;
  color: #333;
  padding-top: 80px;
  min-height: 100vh;
}

.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 16px 32px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav-div {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-weight: bold;
  font-size: 19px;
  text-decoration: none;
  color: #0077b6;
  animation: logo 1.5s ease-in-out 2;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 24px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #0077b6;
}

.main {
  max-width: 1100px;
  margin: 32px auto;
  padding: 16px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 24px;
  margin-top: 32px;
}

.project-card {
  background-color: #eaf4f4;
  padding: 16px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: #0077b6;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  animation: fade 1s ease forwards;
}

.project-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 13px;
}

.project-card:hover {
  background-color: #cfefff;
}

.project-card p {
  margin: 0;
}

@keyframes logo {
  0% {
    transform: scale(1);
    color: #0077b6;
    text-shadow: none;
  }
  50% {
    transform: scale(1.3);
    color: #00b4d8;
    text-shadow: 0 0 8px rgba(0, 119, 182, 0.5);
  }
  100% {
    transform: scale(1);
    color: #023e8a;
    text-shadow: none;
  }
}



@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  20% {
    opacity: 0.20;
    transform: translateY(17px);
  }

  40% {
    opacity: 0.40;
    transform: translateY(13px);
  }
    60% {
    opacity: 0.6;
    transform: translateY(8px);
  }
  80% {
    opacity: 0.8;
    transform: translateY(3px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
